@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html {
  position: relative;
}
body {
  height: 100%;
  background-color: #020615;
  background-size: cover;
}
body {
  font-family: 'Poppins', sans-serif;
}
